@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #f4c025;
    --color-accent: #FFD700;
    --color-background-light: #f8f8f5;
    --color-background-dark: #121212;
    --color-card-dark: #1e1e1e;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/vazir/Vazir-Medium.eot');
    src: url('fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('/fonts/vazir/Vazir-Medium.woff') format('woff'),
        /* FF39+,Chrome36+, Opera24+*/
        url('fonts/vazir/Vazir-Medium.woff2') format('woff2'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('fonts/vazir/Vazir-Medium.ttf') format('truetype'),
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/material-icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url('fonts/material-icon/kJEPBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJO1Q.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazir', 'Lexend', 'Tahoma', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

#lightbox:target {
    display: flex;
}

.map-pulse {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #f4c025;
    border-radius: 50%;
}

.map-pulse::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f4c025;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.theme-toggle-btn .sun {
    display: none;
}

.theme-toggle-btn .moon {
    display: block;
}

.dark .theme-toggle-btn .sun {
    display: block;
}

.dark .theme-toggle-btn .moon {
    display: none;
}